.experience__root{
  width: 100%;
  display: flex;
  font-size: 12px;
  flex: 1 1 200px;
  cursor: pointer;

  & > div {
    height: 100%
  }
}

.experience__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__text {
  margin-left: 10px;
  padding-left: 6px;
  width: 100%;
  text-align: left;

  & > p{
    margin-bottom: 0px
  }
}

.experience__text_name {
  font-size: 16px;
}

.experience__text_amount {
  color: #587BE0
}

.experience__text_description{
  color: #6F6E73
}

.experience__arrow_block{
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}