@import "../../styles/variables.scss";

.secure {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    &__selectors {
        display: flex;
        justify-content: left;
        padding: 20px;
        a {
            cursor: pointer;
            margin: 0 10px;
            color: $text-100;
            padding: 5px 10px;

            &.--btn-active {
                background: #fcfcfc;
                border: 1px solid #bebec2;
                border-radius: 10px;
            }
        }

        font-size: 14px;
    }
    &__description {
        justify-content: left;
        text-align: left;
        padding: 20px;
        font-size: 14px;
    }
    &__label {
        position: relative;
        margin-right: auto;
        display: inline;
        // justify-content: left;
        // text-align: left;
        // padding: 20px;
        margin-left: 40px;
        font-size: 14px;
    }

    &__button {
        min-width: 136px;
        margin-top: 20px;
    }
    &__question {
        margin-top: 50px;
        font-size: 14px;
        color: $text-100;
    }
    .code-ver {
        padding-bottom: 10px;
        label {
            display: none;
        }
    }
    .email-label {
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }
}
