@import '../../../styles/variables.scss';

$spaccing: 43px;
$width-input: 300px;
$widthBox: 32px;
$heightBox: 31px;


.seed-container {
  display: flex;
  flex-wrap: wrap;
  background: #FCFCFC;
  border: 1px solid $grey-light-3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px;
  &__title {
    font-size: 16px;
  } 
  &__phrase {
    margin: 5px;
    position: relative;
    background: #FCFCFC;
    border: 1px solid #BEBEC2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 6px 5px 40px;
    min-height: 20px;
    &::after {
      content: attr(data-index);
      position: absolute;
      left: 5px;
      background: #6F6E73;
      color: white;
      border-radius: 8px;
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;    }
  }
}

