@import './mixin.scss';

/* Main colours */
$white: #FFFFFF;
$grey-2: #828282;
$red: #dd0d0d;
$grey-light-1: #F2F2F2;
$grey-light-2: #BEBEC2;
$accent: #B072FF;
$accent-2: #885FFF;
$accent-3: #3BD0AC;
$black: #414047;
$blue-100: #587BE0;
$text-100: #414047;
$text-200: #6F6E73;

$line-color: #E9E6E6;