@import "./mixin.scss";

/* Main colours */
$white: #ffffff;
$grey-2: #828282;
$red: #dd0d0d;
$grey-light-1: #f2f2f2;
$grey-light-2: #bebec2;
$grey-light-3: #dfdfe0;
$light-blue-1: #eaefff;
$light-purple: #f7e9ff;
$accent: #b072ff;
$accent-2: #885fff;
$accent-3: #3bd0ac;
$black: #414047;
$blue-100: #587be0;
$text-100: #414047;
$text-200: #6f6e73;
$text-400: #a0a0a2;
$line-color: #e9e6e6;
