
.header-bg {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 50px;
    &__logo {
        height: 22px;
    }
}

