
.header {
    position: relative;
    overflow: hidden;
    height: 30vh;
    &__bg {
        display: block;
    }
    &__logo {
        position: absolute; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;  
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
}

