
@import '../../styles/variables.scss';

.seed-phrase {
    @include page-padding;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    &__description {
        justify-content: left;
        text-align: left;
        font-size: 14px;
    }
    
    &__link{
        display: flex;
        color: $accent-2;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin: 44px 0;
        img {
            height: 20px;
            margin: 0 10px;
        }
    }

}