.Modal {
  min-width: 267px;
  width: calc(85% - 40px);
  max-width: 560px;
  min-height: calc(40vh - 40px);
  max-height: 372px;
  position: absolute;
  z-index: 3;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    z-index: 1;
  }
}
