@import '../../../styles/variables.scss';

$spaccing: 43px;
$width-input: 300px;
$widthBox: 32px;
$heightBox: 31px;


.progress-bar {
  height: 3px;
  background-color: $accent-2;
  &.--30 {
    width: 30%;

  }
  &.--70 {
    width: 70%;
  }
}

