@import './../../styles/variables.scss';

$spaccing: 43px;
$width-input: 300px;
$widthBox: 32px;
$heightBox: 31px;


.code-ver {
  margin-top: 10px;
  label {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  &__input-container {
    margin: 7px;
    display: flex;
    &__input {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        width: 8px;
        height: 8px;
        margin: 3px;
        text-align: center;
        background: rgba(128, 128, 128, 0.014);
        outline: none;
      }
    }
}

