.connected {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 17px;
    &__img {
        width: 60px;
        height: 60px;
        left: 14px;
        top: 360px;
        background: #dfdfe0;
        border-radius: 10px;
    }

    &__body {
        margin-left: 20px;
        &__title {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: start;
            color: black;
        }
    }
}
