@import '../../../styles/variables.scss';

.input-search {
    position: relative;
    margin-bottom: 10px;
    &__input {
        background-color: #F5F5F5;
        border: none;
        border-radius: 50px;
        width: 100%;
        height: 40px;
        padding: 0 38px;
        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #BEBEC2;
            letter-spacing: -0.154px;
        }
    }
    &__add {
        position: absolute;
        right: 13px;
        top: 12px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 11px;
        width: 19px;
        display: inline-block;
        background-repeat: no-repeat;
        height: 19px;
        background-image: url('./../../../public/assets/search.png');
    }
}
